@page
@model front.Pages.Wind

@{
    ViewData["Title"] = "Home page";
}
<a href="wind.csv" download>Pobierz CSV</a>
<a href="wind.json" download>Pobierz JSON</a>
<form method="post">
<input asp-route-myId=1 type="submit" value="Sensor 1">
<input asp-route-myId=2 type="submit" value="Sensor 2">
<input asp-route-myId=3 type="submit" value="Sensor 3">
<input asp-route-myId=4 type="submit" value="Sensor 4">
<input asp-route-myId=5 type="submit" value="Sensor 5">
<input asp-route-myId=6 type="submit" value="Sensor 6">
<input asp-route-myId=7 type="submit" value="Sensor 7">
<input asp-route-myId=8 type="submit" value="Sortuj">
</form>
<div style="width:100%;margin-left: auto;margin-right: auto;">
    <canvas id="myChart"></canvas>
</div>

<div class="row">
    <table class="arrowes-table table-striped" style="width:100%;margin-left: auto;margin-right: auto;">
        <thead>
        <tr>
            <th>SensorId</th>
            <th>Value</th>
            <th>SensorType</th>
        </tr>
        </thead>
 
        <tbody>
        @foreach (var item in Model.myList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sensorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sensorType)                   
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@section scripts{
    <script src="~/js/Chart.js"></script>
    <script>
        var chart = new Chart(document.getElementById('myChart').getContext('2d'), {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.Label)),
                datasets: [{
                    label: 'wind',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    fill: false,
                    data: @Html.Raw(Json.Serialize(Model.Data))
                }]
            }
        });
    </script>
}